<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Kishan Sharma | Web Developer | kishansharma6377@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Kishan Sharma</h1>
					<h2>Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3>G-439, New Bapu Nagar, Bhilwara(311001)</h3>
						<h3>Rajasthan</h3>
						<h3>kishansharma6377@gmail.com</h3>
						<h3>(+91) 6377302984</h3>
					</div>
				</div>
			</div>
		</div>

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Career Objective</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								To work for progressive Company which rewards performance and dedication provides opportunities to take new challenges, where I can utilize my knowledge an ability to enhance the organization.
							</p>
						</div>
					</div>

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div>

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Ruby On Rails</li>
								<li>Ruby</li>
								<li class="last">SQL</li>
							</ul>

							<ul class="talent">
								<li>Bootstrap</li>
								<li>Git & GitHub</li>
								<li class="last">Data Structure & Algorithm</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Training and Workshop</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>RTU Kota</h2>
								<h3>Training</h3>
								<h4>2018</h4>
								<p>Successfully completed  Training Programme for 15 days under the guidelines given by RTU, Kota</p>
							</div>

							<div class="job">
								<h2>Mlvtec, Bhilwara</h2>
								<h3>Web development Workshop</h3>
								<h4>2019</h4>
								<p>Successfully completed One Week Workshop on “Web Development” in Mlvtec, Bhilwara</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Rajasthan Technical University, Kota</h2>
							<h3>B.Tech in Information Technology &mdash; <strong>8.15 SGPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->



				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Kishan Sharma; <a href="mailto:kishansharma6377@gmail.com">kishansharma6377@gmail.com</a> &mdash; (+91) 6377302984</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

